.container {
    width: 800px;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 50px;
}

.items {
    text-align: center;
    font-size: xx-large;    
}

.itms_1 {
    background-color: aqua;


}

.itms_2 {
    background-color: aquamarine;

}

.itms_3 {
    background-color: blueviolet;
}

.itms_4 {
    background-color: brown;

}

.itms_5 {
    background-color: cadetblue;
}

.itms_6 {
    background-color: chartreuse;
}

.itms_7 {
    background-color: cornflowerblue;
}

.itms_8 {
    background-color: darkblue;
}

.itms_9 {
    background-color: yellowgreen;

}